<ng4-loading-spinner></ng4-loading-spinner>
<div class="container mt-lg-5">
  <div class="row">
    <div class="col">
      <table class="table align-self-center table-sm table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
          <th scope="col" style="width: 15%">Id</th>
          <th scope="col" style="width: 30%">Email</th>
          <th scope="col" style="width: 20%">First name</th>
          <th scope="col" style="width: 20%">Last name</th>
          <th scope="col" style="width: 20%">Role</th>
          <th scope="col" style="width: 15%">Modify</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let account of accounts">
          <td>{{account.id}}</td>
          <td>{{account.email}}</td>
          <td>{{account.user.firstName}}</td>
          <td>{{account.user.lastName}}</td>
          <td>{{account.role}}</td>

          <td>
            <div class="button-bar">
              <button type="button" class="btn btn-danger" (click)="_deleteAccount(account.id)">Delete</button>
              <button type="button" class="btn btn-secondary" (click)="_openModal(template, account)">Edit</button>
            </div>
          </td>
        </tr>

        </tbody>
      </table>

      <div>
        <p>Accounts count: {{accounts ? accounts.length : 0}}</p>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-dark" (click)="_updateAccounts()">Update</button>

    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
              (click)="_openModal(template,accountToEdit)">
        Create new account
      </button>
    </div>
  </div>

</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{editMode ? "Edit": "Create"}} new Account</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Role</label>
      <ng-select [(ngModel)]="accountToEdit.role">
        <ng-option *ngFor="let selected of roleTypes" [value]="selected">{{selected}}</ng-option>
      </ng-select>
      <div>
      </div>
      <div class="form-group">
        <label>First name</label>
        <input class="form-control" name="firstName" [(ngModel)]="accountToEdit.user.firstName"
        #firstName="ngModel"
        required/>
        <div [hidden]="firstName.valid || firstName.untouched" class="alert alert-danger">
          First Name
        </div>
      </div>
      <div class="form-group">
        <label>Last name</label>
        <input class="form-control" name="lastName" [(ngModel)]="accountToEdit.user.lastName"
        #lastName="ngModel"
        required/>
        <div [hidden]="lastName.valid || lastName.untouched" class="alert alert-danger">
          Last Name
        </div>
      </div>
      <div class="form-group">
        <label [hidden]="accountToEdit.role!='Student'">Group</label>
        <ng-select [hidden]="accountToEdit.role!='Student'" [(ngModel)]="groupNumber">
          <ng-option *ngFor="let gr of groups" [value]="gr.number">{{gr.number + ". " + gr.description}}</ng-option>
        </ng-select>
      </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input class="form-control" name="email" [(ngModel)]="accountToEdit.email" #email="ngModel"
             required pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*"/>
      <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
        Please set email
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="accountToEdit.password"
             #password="ngModel"
             required/>
      <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
        Password
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="_addAccount()"
            [disabled]="email.invalid || password.invalid">{{editMode ? "Save": "Create"}}
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeModal()">Close</button>

  </div>
</ng-template>

