<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Info</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngb-accordion [closeOthers]="true" #acc="ngbAccordion">
      <div *ngFor="let gr of lessonToEdit.groups">
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span (click)="_loadVisits(gr.id,lessonToEdit.id)">{{gr.id}}.{{gr.description}}</span>
          </ng-template>

          <ng-template ngbPanelContent>
            <table class="table align-self-center table-sm table-bordered table-hover">
              <thead class="thead-dark">
              <tr>
                <th scope="col" style="width: 20%">First name</th>
                <th scope="col" style="width: 20%">Last name</th>
                <th scope="col" style="width: 20%">Visit</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let visit of visitsForGroup">
                <td>{{visit.student.firstName}}</td>
                <td>{{visit.student.lastName}}</td>
                <td>
                  <input type="checkbox" [(ngModel)]="visit.visit"/></td>
              </tr>

              </tbody>
            </table>
            <button type="button" class="btn btn-default" (click)="_saveVisits()">Save
            </button>
          </ng-template>
        </ngb-panel>
      </div>
    </ngb-accordion>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeModal()">Close</button>
  </div>
</ng-template>
<ng4-loading-spinner></ng4-loading-spinner>
<div class="container mt-lg-5">
  <div class="row d-flex justify-content-center">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="row">
    <div class="col">
      <input class="form-control" [(ngModel)]="searchId"/>
    </div>
    <div class="col">
      <button type="button" [disabled]="!selectedType || !searchId?.length" class="btn btn-primary"
              (click)="_search();">
        <fa name="search"></fa>
      </button>
    </div>
    <div class="col">
      <ng-select [items]="scheduleTypes" [hidden]="editMode" [(ngModel)]="selectedType"></ng-select>
    </div>

    <div class="btn-group" role="group">
      <button [disabled]="!selectedType || !searchId?.length" mwlCalendarPreviousView type="button" [view]="view"
              [(viewDate)]="viewDate" class="btn btn-secondary" (click)="_changeWeek(-1)">Previous week
      </button>
      <button [disabled]="!selectedType || !searchId?.length" mwlCalendarToday [(viewDate)]="viewDate" type="button"
              class="btn btn-secondary" (click)="_searchNow()">Now
      </button>
      <button [disabled]="!selectedType || !searchId?.length" mwlCalendarNextView [view]="view"
              [(viewDate)]="viewDate"
              type="button" class="btn btn-secondary" (click)="_changeWeek(1)">Next week
      </button>
    </div>
  </div>
</div>

<br>
<div [ngSwitch]="view">
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="_openModal(template, $event.event.id)">
  </mwl-calendar-week-view>
</div>
