.monday{
    text-decoration-color: #2cff6e;
    background-color:Tomato;
}

.tuesday{
    background-color: #f0ff65;
}

.wednesday{
     background-color: #2cff6e;
}

.thursday{
    background-color: #ff9ff5;
}

.friday{
    background-color: #64aeff;
}

.saturday{
    background-color: #29ffc2;
}
