<ng4-loading-spinner> </ng4-loading-spinner>
<div class="container mt-lg-5">
  <div class="row">

    <div class="col">

      <h4>Teachers component:</h4>

      <table class="table align-self-center">
        <thead class="thead-dark">
        <tr>
          <th scope="col" style="width: 15%">Number</th>
          <th scope="col" style="width: 30%">First name</th>
          <th scope="col" style="width: 20%">Last name</th>
          <th scope="col" style="width: 5%">Account id</th>
          <th scope="col" style="width: 10%">Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let teacher of teachers">
          <td scope="row">{{teacher.number}}</td>
          <td>{{teacher.firstName}}</td>
          <td type="password">{{teacher.lastName}}</td>
          <td>{{teacher.account.id}}</td>
          <td><div class="button-bar"><button type="button" class="btn btn-danger" (click)="_deleteTeacher(teacher.number)">Delete</button>
            <button type="button" class="btn btn-secondary" (click)="_openModal(template, teacher)">Edit</button></div></td>
        </tr>

        </tbody>
      </table>

      <div>
        <p>Teachers count: {{teachers ? teachers.length : 0}}</p>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-dark" (click)="_updateTeachers()">Update</button>

    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
              (click)="_openModal(template,teacherToEdit)">
        Create new teacher
      </button>
    </div>
  </div>

</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{editMode ? "Edit": "Create"}}  new Teacher</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Id</label>
      <input class="form-control" name="id" [(ngModel)]="teacherToEdit.number" #id="ngModel" readonly/>
    </div>
    <div class="form-group">
      <label>First name</label>
      <input class="form-control" name="firstName" [(ngModel)]="teacherToEdit.firstName" #firstName="ngModel"
             required />
    </div>
    <div class="form-group">
      <label>LastName</label>
      <input type="lastName" class="form-control" name="lastName" [(ngModel)]="teacherToEdit.lastName" #lastName="ngModel"/>
    </div>

    <div class="form-group">
      <label>AccountId</label>
      <input class="form-control" name="account" [(ngModel)]="teacherToEdit.account.id" #account="ngModel"
             required />
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="_addTeacher()"
            [disabled]="firstName.invalid || lastName.invalid">{{editMode ? "Save": "Create"}}
    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeModal()">Close</button>

  </div>
</ng-template>

